<!doctype html>
<html lang="en">

<head>
  <title>Delete Application</title>
</head>

<body>
  <h1>Delete Application</h1>
  <form action="{{ url_for('delete_application') }}" method="post">
    <label for="company_name">Company: </label><br />
    <input type="text" id="company_name" name="company_name" required /><br />

    <label for="job_title">Job Title: </label><br />
    <input type="text" id="job_title" name="job_title" required /><br />

    <input type="submit" value="Submit" />
  </form>
</body>

</html>