<!DOCTYPE html>
<html lang="en">
<head>
    <title>Applications List</title>
    <!-- Bootstrap CSS for styling the table -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h2 class="mt-5">Applications List</h2>
        <table class="table table-bordered table-striped mt-3">
            <thead class="thead-dark"> <!-- creates a dark background for the table header -->
                <tr>
                    <th>Company</th>
                    <th>Job Title </th>
                    <th>Status</th>
                    <th>Applied Date</th>
                    <th>Source</th>
                    <th>notes</th>
                </tr>
            </thead>
            <tbody> <!-- table body -- loop through all of the Apps -->
                {% for application in applications %}
                <tr>
                    <td>{{ application['company_name'] }}</td>
                    <td>{{ application['job_title'] }}</td>
                    <td>{{ application['status'] }}</td>
                    <td>{{ application['applied_date'] }}</td>
                    <td>{{ application['source'] }}</td>
                    <td>{{ application['notes'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
 </body>
</html>
