<!doctype html>
<html lang="en">

<head>
  <title>Update Application</title>
</head>

<body>
  <h1>Update Application</h1>
  <h2>What fields need updating?</h2>
  <form action="{{ url_for('update_application') }}" method="post">
    <label for="company_name">Company Name</label><br />
    <input type="text" id="company_name" name="company_name" required /><br />

    <label for="job_title">Job Title</label><br />
    <input type="text" id="job_title" name="job_title" required /><br />

    <label for="applied_date">Date Applied</label><br />
    <input type="date" id="applied_date" name="applied_date" required /><br />

    <label for="job_url">Job Url</label><br />
    <input type="text" id="job_url" name="job_url"  /><br />  

    <label for="source">Where did you find it?</label>
    <input type="text" id="source" name="source" /><br />

    <label for="notes">notes?</label>
    <input type="text" id="notes" name="notes" /><br />

    <input type="submit" value="Submit" />
  </form>
</body>

</html>